.banner > div {
  display: flex;
  flex-direction: column;
}

.banner img {
  width: 100%;
}

.banner > div > div {
  order: 1;
}

.banner > div > .banner-img {
  order: 0;
  flex: unset;
}

.banner > div > .banner-img img {
  display: block;
  border-radius: 50%;
  max-width: 300px;
  border: 4px solid #fff;
  padding: 10px;
}
.banner > div > .banner-inline-img {
  position: relative;
  padding-right: var(--email-icon-width);
}
.banner > div > .banner-inline-img img {
  display: block;
  position: absolute;
  width: var(--email-icon-width);
  right: 0;
  top: calc(50% - (var(--email-icon-width) / 2));
}

.banner h3 {
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.banner p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.banner.bg-orange > div > div p:first-child {
  font-size: 20px;
}

.banner-wrapper {
  padding-top: var(--header-padding-top);
}
@media (width >= 900px) {
  .banner > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
    padding: 32px 0;
  }

  .banner > div > div {
    flex: 1;
    order: unset;
  }
}
