.projects > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 16px;
}

.projects > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
}

.projects .projects-card-body {
  margin: 16px;
}

.projects .projects-card-image {
  line-height: 0;
  cursor: pointer;
}

.projects .projects-card-body > *:first-child {
  margin-top: 0;
  text-align: center;
}

.projects > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
}

.projects .projects-card-body ul li {
  font-size: var(--heading-font-size-xs);
}

.projects video {
  display: none;
  width: 100%;
}

@media (width >= 900px) {
  .projects .projects-card-body ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .projects > ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
